.overlay {
  background: rgba(242, 243, 245, 0.5);
  backdrop-filter: blur(5px);
  position: fixed;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
  z-index: 10;
}

.overlayActive {
  opacity: 1;
  pointer-events: auto;
}

.container {
  position: relative;
  width: 100%;
  max-width: 500px;
  padding: 2rem 3rem;
  border-radius: 5px;
  background: var(--white);
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.container header {
  font-size: 2rem;
  font-weight: 600;
  color: var(--blue);
}

.container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container form > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

.container form input,
.container form select {
  width: 100%;
  margin-top: 2rem;
  flex: 1;
  padding: 1rem;
  font-size: 1.5rem;
  border: 1px solid var(--gray-line);
  border-radius: 5px;
}

.container form button {
  margin-top: 1rem;
  width: 100%;
  background-color: var(--blue);
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--white);
  padding: 1rem 0;
  border: none;
  border-radius: 5px;
  transition: background-color 0.2s;
}

.container form button:hover {
  background-color: var(--blue-dark);
}

.container .closeButton {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 0;
  border: none;
  background: none;
}
